<title><%= title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Global stylesheets -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
<link rel="stylesheet" href="/static/css/style.css">
<!-- /global stylesheets -->

<!-- Core JS files -->
<!--<script src="/static/global_assets/js/main/jquery.min.js"></script>-->
<!-- /core JS files -->

<!-- Theme JS files -->
<!-- /theme JS files -->

