<%- include ('partials/app_header') %>


<div id="screenPage">
    <div id="container">
        <div id="monitor">
            <div id="monitorscreen">
                <div id="monitorContent">
                    <!-- <img class="content-monitor" src="images/01.jpg"> -->
                </div>
            </div>
        </div>
        <div id="monitorControl">
            <ul>
                <li><a href="#" id="btnFullScreen" title="Fullscreen"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a></li>
            </ul>
            <br>
            <br>
            <br>
            <ul>
                <button type="button" id="btnSignout" class="btn btn-primary">Sign Out</button>
            </ul>
        </div>
    </div>
</div>

<div id="fullScreenPage" class="d-none">
</div>

<%- include ('partials/app_footer') %>
