<%- include ('partials/layout_header') %>

<div class="page-content">
    <sidebar>
        <%- include ('partials/sidebar') %>
    </sidebar>
    <div class="content-wrapper">
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </div>
</div>

<%- include ('partials/layout_footer') %>
