<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
</head>
<body class="sidebar-right-visible">

<header>
    <%- include ('partials/header') %>
</header>
<div class="page-content">
    <sidebar>
        <%- include ('partials/sidebar') %>
    </sidebar>
    <div class="content-wrapper">
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </div>
</div>

<%- include ('partials/footer') %>
</body>
</html>
